{% assign flash_types = 'notice|alert|success|warning|error|deleted' | split:'|' %}

{% for flash_type in flash_types %}
  {% if context.flash[flash_type] %}
    {% if flash_type == 'alert' %}
      {% assign klass = 'alert-danger' %}
    {% elsif flash_type == 'notice' %}
      {% assign klass = 'alert-success' %}
    {% else %}
      {% assign klass = flash_type %}
    {% endif %}
    {% assign flash_icon = klass | prepend: 'flash_messages.icon.' | t %}
    <div class="alert {{ klass }}" data-flash-message="true">
      <p>
        <i class="{{ flash_icon }}"></i>
        {{ context.flash[flash_type] | newline_to_br }}
        <a href="#" class="close ico-close right"></a>
      </p>
    </div>
  {% endif %}
{% endfor %}
