{%- assign _utils = "modules/utils/" -%}
{%- assign _utils_tags = _utils | append: "tags/" -%}
{%- assign _utils_fields = _utils | append: "fields/" -%}

{%- assign _field = input -%}
{%- assign _type = type | default: 'text' -%}
{%- assign _name = name | default: _field.name -%}
{%- assign _autocomplete = autocomplete | default: nil -%}
{%- assign _pattern = pattern | default: nil -%}
{%- assign _min = min | default: null -%}
{%- assign _max = max | default: null -%}
{%- assign _error_message = error | default: _field.validation.errors -%}
{%- assign _input_class = input_class | default: '' | append: ' form-input' -%}
{%- assign _input_id = id | default: _field.name | slugify -%}
{%- assign _input_data_attrs = input_data_attrs | default: nil -%}
{%- assign _value = value | default: _field.value -%}
{%- assign _readonly = readonly | default: false -%}
{%- assign _disabled = disabled | default: false -%}
{%- assign _maxlength = maxlength | default: nil -%}
{%- assign _required = required | default: _field.validation.rules.presence -%}
{%- assign _field_type = _utils_fields | append: type -%}
{%- assign _error = _utils_tags | append: 'error' %}
{% if _disabled != blank %}
  {%- assign _error_message = blank -%}
{% endif %}

<div class="{{ context.exports.utils.config.default_wrapper_class }} {{ wrapperClass }}{% if _error_message != blank %} error{% endif %}">
  {% include "modules/utils/tags/label_tag" with _field, class: labelClass, forId: _input_id, label: label, required: _required %}
  {% include _field_type with _field %}
  {% if custom_html != blank %}{{ custom_html | html_safe }}{% endif %}
  {% include "modules/utils/tags/error" with message: _error_message %}
</div>

